@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,700);
/*
 * Colors
 * ========================================================================== */
/*
 * Typography
 * ========================================================================== */
/*
 * Layout
 * ========================================================================== */
/*
 * Media queries breakpoints
 * ========================================================================== */
/* Extra small screen / phone */
/* Small screen / tablet */
/* Medium screen / desktop */
/* Large screen / wide desktop */
/*
 * Animations
 * ========================================================================== */
/*
 * Additional setups
 * ========================================================================== */
/*
 * Global styling
 * ========================================================================== */
* {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

html {
  font-size: 14px; }

body {
  margin: 0;
  color: #000;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif; }

a {
  font-family: "Roboto Slab", serif;
  color: #FFC107; }
  a:hover, a:focus {
    color: #FFA000;
    text-decoration: none; }

.active {
  color: #FFA000 !important; }

.vertical-align {
  display: flex;
  flex-direction: row; }

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center; }

/*
 * Navbar styling
 * ========================================================================== */
nav.navbar-default {
  background-color: #FFC107;
  border: none; }
  nav.navbar-default .navbar-brand {
    color: #FFF; }
  nav.navbar-default .slogan {
    height: 100%;
    margin-right: 60px; }
    nav.navbar-default .slogan h4 {
      margin: 16px;
      line-height: 100%; }
  nav.navbar-default .navbar-right li a {
    color: #000; }
    nav.navbar-default .navbar-right li a:active, nav.navbar-default .navbar-right li a:hover {
      color: #FFA000; }

/*
 * Main container styling
 * ========================================================================== */
main {
  margin: 60px auto;
  min-height: 800px;
  background-color: #FFF; }

/*
  * Footer styling
  * ========================================================================== */
footer {
  height: 80px;
  width: 100%;
  padding: 16px 0;
  background-color: #000;
  color: #B6B6B6; }

/*
 * Genre List styling
 * ========================================================================== */
/*
 * Home  styling
 * ========================================================================== */
#home .home-inner-box {
  min-height: 400px; }

#home .explore-links {
  width: 100%; }

#home .movie-search {
  width: 100%; }
  #home .movie-search .btn-success {
    width: 80px; }

/*
 * MovieList  styling
 * ========================================================================== */
/*
 * Other Component styling
 */
.movie-list-item {
  max-height: 300px;
  overflow: hidden; }
  .movie-list-item.thumbnail img {
    margin: 0;
    width: 40%;
    float: left;
    padding: 2%; }
  .movie-list-item.thumbnail .caption {
    width: 56%;
    float: right; }
    .movie-list-item.thumbnail .caption a.movie-title {
      color: #000;
      font-size: 20px;
      font-weight: 400;
      display: inline-block;
      margin-bottom: 8px; }
      .movie-list-item.thumbnail .caption a.movie-title:hover {
        color: #FFA000; }

.genre-link-item {
  font-size: 16px; }

.movie-short-intro p {
  color: #727272; }

/*
 * Override  styling
 */
.pager li > a,
.pager li > span {
  border-radius: 0; }


/*
 * Colors
 * ========================================================================== */
/*
 * Typography
 * ========================================================================== */
/*
 * Layout
 * ========================================================================== */
/*
 * Media queries breakpoints
 * ========================================================================== */
/* Extra small screen / phone */
/* Small screen / tablet */
/* Medium screen / desktop */
/* Large screen / wide desktop */
/*
 * Animations
 * ========================================================================== */
/*
 * Additional setups
 * ========================================================================== */
